<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <link rel="stylesheet" href="/markdown.css">
  <link rel="stylesheet" href="/highlight.css">
  <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}</title>
  {{ if .Params.math }}{{ partial "katex.html" . }}{{ end }}
</head>

<body>
  {{ block "main" . }}

  {{ end }}
</body>

</html>